In [8]:
# modules are imported 
# venv310 is used in this case
from dataprep.datasets import load_dataset
from dataprep.eda import create_report
import pandas as pd
df = pd.read_csv("car_purchasingNew2.csv")
create_report(df).show_browser()

  0%|          | 0/1777 [00:00<?, ?it/s]

c:\Users\User\AdvancedDataAnalytics2024AutumnNew2\AdvancedDataAnalytics2024AutumnNew\venv310\lib\site-packages\dataprep\eda\missing\render.py:449: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  y_range=[0, df["Present"][0] + df["Missing"][0]],

In [9]:
import sweetviz as sv
import pandas as pd

# load dataset
df = pd.read_csv("car_purchasingNew2.csv")

# analyze and create HTML-report
report = sv.analyze(df)
report.show_html('sv_carpurchase_data_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sv_carpurchase_data_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [10]:

# pip install phik
import phik
import pandas as pd

# load data
df = pd.read_csv("car_purchasingNew2.csv")

# compute phik-matrix values
phik_matrix = df.phik_matrix()

phik_matrix

interval columns not set, guessing: ['age', 'BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits', 'credit_card_debt', 'net worth', 'car_purchase_amount']

,age,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,credit_card_debt,net worth,car_purchase_amount
age,1.000000,0.076243,0.000000,0.220957,0.092361,0.092361,0.000000,0.027808,0.635435
BasePay,0.076243,1.000000,0.594052,0.458280,0.620598,0.620598,0.000000,0.176583,0.000000
OvertimePay,0.000000,0.594052,1.000000,0.251772,0.504657,0.504657,0.000000,0.000000,0.000000
OtherPay,0.220957,0.458280,0.251772,1.000000,0.627813,0.627813,0.072773,0.000000,0.033615
TotalPay,0.092361,0.620598,0.504657,0.627813,1.000000,1.000000,0.000000,0.000000,0.000000
TotalPayBenefits,0.092361,0.620598,0.504657,0.627813,1.000000,1.000000,0.000000,0.000000,0.000000
credit_card_debt,0.000000,0.000000,0.000000,0.072773,0.000000,0.000000,1.000000,0.173360,0.000000
net worth,0.027808,0.176583,0.000000,0.000000,0.000000,0.000000,0.173360,1.000000,0.813383
car_purchase_amount,0.635435,0.000000,0.000000,0.033615,0.000000,0.000000,0.000000,0.813383,1.000000